Высшее техническое образование. Навыки написания сложных SQL запросов и их оптимизации. Опыт разработки и автоматизации пайплайнов обработки данных. 
Что ждем от кандидатов: Уверенные знания python; знание других языков приветствуется (особенно C и JavaScript). Опыт построения ML пайплайнов/простых...
Отличное знание SQL (диалекты Postgres и Clickhouse) и Python (аналитический и MLстэк, интеграции). Проактивная позиция :). Опыт работы в облаке...
Высшее техническое образование. Навыки написания сложных SQL запросов и их оптимизации. Опыт разработки и автоматизации пайплайнов обработки данных. 
Знание классических алгоритмов и структур данных. Уверенное владение одним из языков программирования C/Java/Go/Python. Понимание принципов работы баз...
Mindfulness and curiosity. Experience in testing web applications (4 years). Experience in web application automation both E2E scripts...
Будет плюсом: Хорошая база по линейной алгебре и математической статистике. Желание развиваться в проектах по ML и NLP.
Отлично знаете С или другой язык программирования (Python, Java, C#). Имеете хороший опыт применения машинного обучения на практике. 
Отлично знаете С или другой язык программирования (Python, Java, C#). Имеете хороший опыт применения машинного обучения на практике. 
Опыт разработки ML решений с 0, от постановки задачи до выведения в прод на целевую платформу (как минимум 4 завершенных...
Ответственность, пунктуальность. Опыт работы в аналогичной должности приветствуется.
Уверенное знание Python и библиотек для работы с данными (numpy, pandas). Опыт создания моделей машинного обучения на TensorFlow, PyTorch и...
Высшее техническое образование. Навыки написания сложных SQL запросов и их оптимизации. Опыт разработки и автоматизации пайплайнов обработки данных. 
Программирование на seniorуровне (ООП, шаблоны, алгоритмы). Опыт работы с BigData, HighLoad. Понимание работы ML/DL. Умение работать в команде. 
Высшее техническое образование. Навыки написания сложных SQL запросов и их оптимизации. Опыт разработки и автоматизации пайплайнов обработки данных. 
Знание Python на уровне Middle. Умение решать задачи машинного обучения с помощью какоголибо фреймворка (tensorflow, Pytorch, etc). 
Знание Python на уровне Middle. Умение решать задачи машинного обучения с помощью какоголибо фреймворка (tensorflow, Pytorch, etc). 
Свободное владение SQL и Python 3. Опыт построения нейронных сетей в задачах обработки последовательностей. Опыт работы с базами данных (PostgreSQL...
None
Нужен проактивный ведущий разработчик, с хорошим знанием математики, с верой/любовью в AI и МL. Это скорее экстраверт, с высоким...
