Опыт разработки на Python 3 (у нас 3.9), понимание asyncio. Опыт разработки сложных проектов на любом из фреймворков: Django...
Python, PostgreSQL, FastAPI и другие сопутствующие технологии. Знание и применение на практике принципов разработки (KISS, DRY, SOLID). Опыт работы с...
Опыт разработки на Pyhon от 2 лет. Опыт работы с большим объемом данных. Уверенное знание SQL (опыт написания сложных запросов...
Навыки разработки cloudnative сервисов. Знакомство с Kubernetes, хорошие навыки работы с Docker. Отличное владение Python, умение работать с асинхронным...
Навыки разработки cloudnative сервисов. Знакомство с Kubernetes, хорошие навыки работы с Docker. Отличное владение Python, умение работать с асинхронным...
Middle/Senior Рython. Глубокое понимание принципов асинхронного программирования на Рython. Опыт работы с Аsyncio. Опыт работы с Аiohttp (либо Tornado). 
Высшее математическое или техническое образование. Знание языков Python, SQL. Опыт работы с GIT. Опыт работы с XML, JSON, SOAP, REST. 
Опыт разработки на Python 3.Х. Глубокое понимание языка python, его сильных и слабых сторон. Опыт работы с aiohttp/Sanic...
Опыт backend разработки на Python, PHP, SQL от года. Навыки работы с Git.  Желательны знания и опыт применения Javascript...
Опыт разработки на python от 3х лет. Опыт работы с FastAPI, Flask или Django DRF. Понимание основ работы баз...
MSc or PhD in tech. Good knowledge of Deep Learning and experience with at least one of DL frameworks: Tensorflow...
Опыт коммерческой разработки от 3‑х лет. Навыки администрирования сетевых сервисов в Linux (squid, nginx, ppp и др). 
Уверенное знание Python 3. Знание базовых паттернов проектирования, алгоритмов и структур данных. Понимание микросервисной архитектуры. Опыт проектирования и разработки масштабируемых...
Опыт разработки и поддержки коммерческих проектов, реализованных на Python (Django) от полутора лет. Знание тонких мест реализации фреймворка и языка. 
Python, PostgreSQL, FastAPI и другие сопутствующие технологии. Знание и применение на практике принципов разработки (KISS, DRY, SOLID). Опыт работы с...
Знание SQL на уровне эксперта. Уверенное знание Python, опыт минимум 1 год. Опыт работы с Airflow не менее 1 года. 
Необходимы знания: Python 3.7, asyncio. Приветствуются:
Необходимы знания: Python 3.7, asyncio. Приветствуются:
2 years experience as an IT Sales Manager / Business Development Manager in a complex sales cycle, with desired focus in...
опыт от 3х лет в роли разработчика AI решений.  знания в области обработки данных и машинного обучения.
