Отличное понимание и практический комерсческий опыт: Python 3.6, фреймворка FastAPI/Flask. Практический опыт с базами данных (MySQL/PostgreSQL). 
Знание Linux и опыт его боевого использования. Опыт создания крупных сервисов с архитектурной точки зрения. Знание и понимание ElasticSearch. 
Хорошее знание языка Python, опыт промышленной разработки от 3х лет. Опыт работы в Agile командах  Kanban, Scrum, ежедневные стэндапы. 
Желаемый набор навыков: Не менее 3х лет профессионального опыта работы в качестве backend разработчика. Опыт построения, обслуживания и...
Python 2.7/3.6. FastAPI / Flask / DjangoDRF. SQLAlchemy / Django_ORM. PostgeSQL. Python Web stack (uWSGI, Docker, Celery, Redis/Memcached). 
Технический английский. Желательно:
Знание Python 3.6, вебфреймоворков (Flask или Django), ORM (SQLAlchemy или Django_ORM). Опыт работы c ОС Linux. 
Хорошее знание языка Python, опыт промышленной разработки от 3х лет. Опыт работы в Agile командах  Kanban, Scrum, ежедневные стэндапы. 
Необходимы знания: Python 3.7, asyncio. Приветствуются:
Опыт коммерческой разработки, работы с высоконагруженными системами. Круто, если вы умеете проектировать быстрые решения и запускать их в сжатые сроки. 
Знание Python 3.6, Django2  DRF, Celery, RabbitMQ, PostgreSQL. Опыт разработки Backend. Работа с *nix ОС. Знание Docker. 
опыт разработки на Python 2 и 3 от 3х лет.  занине SQL и есть опыт работы с PostgreSQL.  
Опыт программирования на Python (Django, Pandas) от 1 года. Знание PostgreSQL, MySQL и умение работать с базами данных. 
Опыт проектирования и разработки высоконагруженных сервисов, организации процессов обработки больших данных. Продвинутый уровень Python 3, SQL, будет плюсом опыт разработки...
Мы хотим видеть в своей команде опытного специалиста, желающего развиваться в области разработки торговых систем и приложений, работающих с биржевой...
Владение Python 3. Знание SQL (PostgreSQL). Опыт написания rest api. Умение работать с Gitсистемами (GitLab, bitbucket, etc.). 
Разрабатывал на Python не менее 3х лет. Оптимизировал Django_ORM или SQLAlchemy. Имел опыт интеграций и работы с web...
Хорошее знание языка Python, опыт промышленной разработки от 3х лет. Опыт работы в Agile командах  Kanban, Scrum, ежедневные стэндапы. 
Уверенное знание python3. Знание сетевых протоколов HTTP, WebSocket. Продвинутое знание Django (Django REST Framework). Знание SQL, опыт работы с...
Технический английский. Желательно:
